.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  min-width: 322px;
  color: white;
}

ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}



.player-hands {
  background-color: rgb(80, 175, 173);

}

html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */

}

.background-image{
  background-image: url("./images/eduardo-dorantes-UhE2lwGn-DQ-unsplash.jpg");
  height: 100%;
  background-size: cover;

}

.overlay{
  background-color: #282c34a9;
  height: 100%;
  width: 100%;
}


#page-body{
  padding-top: 5vh;

}